<div>
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">
                    <button class="btn btn-primary">Add new</button>
                </th>
                <th></th>
                <th></th>
                <th colspan="2">Billing Turnaround</th>
                <th colspan="2">Dispensing Turnaround</th>

            </tr>
            <tr>
                <th>Doc. No</th>
                <th>No. Items Ordered</th>
                <th>No. Items Availabe</th>
                <th>Time-in</th>
                <th>Time-out</th>
                <th>time-in</th>
                <th>time-out</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>e1</td>
                <td>5</td>
                <td>3</td>
                <td><button class="btn" title="click to Edit">12:45</button></td>
                <td title="Click to Edit"><button class="btn" title="click to Edit">12:50</button></td>
                <td><button class="btn" title="click to Edit">1:15</button></td>
                <td><button class="btn" title="click to Edit">1:20</button></td>
                <td><a href="#" class="bi bi-trash"></a></td>
            </tr>
        </tbody>
    </table>
</div>
