<div>
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">
                    <button class="btn btn-primary">Add new</button>
                </th>
                <th></th>
                <th></th>
                <th colspan="4">Turnaround time</th>
                <th></th>

            </tr>
            <tr>
                <th>Order. No</th>
                <th>No. T.Sheets</th>
                <th>No. Items Ordered</th>
                <th>No. Items Availabe</th>
                <th>Time-in</th>
                <th>time started</th>
                <th>time finished</th>
                <th>time collected</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>w1</td>
                <td>2</td>
                <td>5</td>
                <td>3</td>
                <td><button class="btn" title="click to Edit">12:45</button></td>
                <td title="Click to Edit"><button class="btn" title="click to Edit">12:50</button></td>
                <td><button class="btn" title="click to Edit">1:15</button></td>
                <td><button class="btn" title="click to Edit">1:20</button></td>
                <td><a href="#" class="bi bi-trash"></a></td>
            </tr>
        </tbody>
    </table>
</div>
