<div class="app-modal-backdrop "  tabindex="-1" >


</div>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Update Process</h5>
            <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="height: 50px; overflow-y: auto;">
            <form action="">
                <table >
                    <tr class="py-2">
                        <th><label class="me-2" for="">Billing Start: </label></th>
                        <td><input #billTimein type="datetime-local" placeholder="Billing start time"></td>
                        <td><button class="btn btn-primary">Now</button></td>
                    </tr>
                    <tr class="py-2">
                        <th><label class="me-2" for="">Billing End: </label></th>
                        <td><input #billTimeout type="datetime-local" placeholder="Billing end time"></td>
                        <td><button class="btn btn-primary">Now</button></td>
                    </tr>
                    <tr class="py-2">
                        <th><label class="" for=""> Dispense Start: </label></th>
                        <td><input #dispenseTimein type="datetime-local" placeholder="Dispensing start time"></td>
                        <td><button class="btn btn-primary">Now</button></td>
                    </tr>
                    <tr class="py-2">
                        <th><label class="me-2" for="">Dispense End: </label></th>
                        <td><input #dispenseTimeout type="datetime-local" placeholder="Dispensing end time"></td>
                        <td><button class="btn btn-primary">Now</button></td>
                    </tr>
                </table>
               
         
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
            (click)="close()"
            >Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>