<div>
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewModal">Add new</button>
                </th>
                <th></th>
                <th></th>
                <th colspan="2">Billing Turnaround</th>
                <th colspan="2">Dispensing Turnaround</th>

            </tr>
            <tr>
                <th>Presc. No</th>
                <th>No. Items Ordered</th>
                <th>No. Items Availabe</th>
                <th>Time-in</th>
                <th>Time-out</th>
                <th>time-in</th>
                <th>time-out</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @for (presc of prescriptions; track $index) {
                <tr >
                    <td>{{presc.tallyNo}}</td>
                    <td>{{presc.itemsOrdered}}</td>
                    <td>{{presc.itemsAvailable}}</td>
                    <td><button class="btn" title="click to Edit" 
                        (click)="activePresc('billTimein',presc)">{{presc.billStart | date:'h:mm'}}</button></td>
    
                    <td><button class="btn" title="click to Edit" 
                        (click)="activePresc('billTimeout',presc)" >{{presc.billEnd | date:'h:mm'}}</button></td>
    
                    <td><button class="btn" title="click to Edit" 
                        (click)="activePresc('dispenseTimein',presc)">{{presc.dispenseStart | date:'h:mm'}}</button></td>
    
                    <td><button class="btn" title="click to Edit" 
                        (click)="activePresc('dispenseTimeout',presc)">{{presc.dispenseEnd| date:'h:mm'}}</button></td>
                    <td><a href="#" class="bi bi-trash"></a></td>
                </tr>
            }
        </tbody>
    </table>


    <!-- Add New Modal -->
    <div class="modal fade" id="addNewModal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" aria-labelledby="addNewModalLabel" aria-hidden="true">
        <app-prescriptions-new></app-prescriptions-new>
    </div>

    <!-- update Modal -->
    <ng-template [ngIf]="showUpdateModal">
        <app-time-edit-modal  [activeRow]="activeRow"
        (onModalClose)="closeModal($event)"
        ></app-time-edit-modal>
    </ng-template>    

</div>
